[Unit]
Description=statsVK server(ASP.NET Core Kestrel)

[Service]
WorkingDirectory=/root/statsVK/publish/
ExecStart=/usr/share/dotnet/dotnet /root/statsVK/publish/server.dll
KillSignal=SIGINT
Environment=ASPNETCORE_ENVIRONMENT=Production
Environment=DOTNET_CLI_HOME=/temp

[Install]
WantedBy=multi-user.target